body{
  background-color: lightblue;
  padding: 20px;
}

.card{
  background-color: white;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

button{
  cursor: pointer;
  background-color: blue;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
}
